# OS-specific files
.DS_Store
Thumbs.db

# Editor swap files
*.swp

# Node.js & frontend dependencies
frontend/node_modules/
frontend/.next/
frontend/.parcel-cache/
frontend/.vercel/
frontend/dist/
frontend/build/

# Python-specific
__pycache__/
.pytest_cache/
.venv/
*.egg-info
*.pyc
*.pyo
*.pyd

# AWS CDK
cdk.out/
.cdk.staging
cdk.context.json
cdk.context.lock

# AWS CLI & Credentials (just in case)
.aws/
.aws-sam/

# Logs & temp files
*.log
*.tmp
npm-debug.log
yarn-debug.log
yarn-error.log
pip-log.txt
pip-delete-this-directory.txt

# Environment variables (if you use them)
.env
*.env
